.top {
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.top-title {
    text-align: center;
}

.top-form {
    text-align: center;
}