.top {
    display: flex;
    flex-flow: column;
}

.top-title {
    text-align: center;
}

.top-form {
    text-align: center;
}

.top-button {
    margin-top: 20px;
    text-align: center;
}


.top-form-input {

}
